{% extends 'index.html' %}
{% block body_block %}


<center>
    <div class="jumbotron">
        <h1 class="display-4">DataFlair Django File Uploading</h1>
        {% block replace %}
        <p class="lead">To make a user profile and upload the files fill this form</p>
        <hr class="my-4">
        <form method="POST" enctype="multipart/form-data">
            <!-- Very Important csrf Token -->
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-primary btn-lg" name="register">
        </form>
    </div>
</center>
{% endblock %}

{% endblock %}

<!-- It’s a simple template rendering the form. We have also used some bootstrap. You can check out our Django bootstrap tutorial for the same. The important part is the form attribute enctype. This attribute allows us to send the files with our data.

request.FILES dictionary
When any file is uploaded in Django it becomes a part of the request object. More specifically, it can be accessed with the request.FILES object. It is a dictionary and has a key for each file uploaded. You can access data from the uploaded file via this dictionary.-->